services:
  # Applications
  core:
    container_name: core-svc
    restart: always
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - REPOSITORY_NAME=./services/core
    environment:
      HTTP_SERVER_PORT: "8082"
      SERVICE_NAME: "core-svc"    
      KAFKA_BROKER: "kafka1:19092"
    networks:
      - concurrency-simulator-network
    ports:
      - "8082:8082"
    depends_on:
      - kafka1

  antifraud:
    container_name: antifraud-svc
    restart: always
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - REPOSITORY_NAME=./services/antifraud
    environment:
      SERVICE_NAME: "antifraud-svc"    
      KAFKA_BROKER: "kafka1:19092"
      KAFKA_GROUP_ID: "antifraud-svc-group-1"
      DB_URL: "postgres://antifraud_user:antifraud_pass@antifraud_db:5432/antifraud_db?sslmode=disable"
    networks:
      - concurrency-simulator-network
    depends_on:
      - kafka1
      - antifraud_db

  account:
    container_name: account-svc
    restart: always
    platform: linux/amd64
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - REPOSITORY_NAME=./services/account
    environment:
      SERVICE_NAME: "account-svc"    
      KAFKA_BROKER: "kafka1:19092"
      KAFKA_GROUP_ID: "account-svc-group-1"
      DB_URL: "postgres://account_user:account_pass@account_db:5432/account_db?sslmode=disable"
    networks:
      - concurrency-simulator-network
    depends_on:
      - kafka1
      - account_db

  # Infra
  antifraud_db:
    image: postgres:15-alpine
    container_name: antifraud_db
    restart: always
    platform: linux/amd64
    environment:
      POSTGRES_DB: antifraud_db
      POSTGRES_USER: antifraud_user
      POSTGRES_PASSWORD: antifraud_pass
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "1111:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data_antifraud
      - ./scripts/init_antifraud_db.sql:/docker-entrypoint-initdb.d/init_antifraud_db.sql
    networks:
      - concurrency-simulator-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U antifraud_user -d antifraud_db"]
      interval: 30s
      timeout: 10s
      retries: 3

  account_db:
    image: postgres:15-alpine
    container_name: account_db
    restart: always
    platform: linux/amd64
    environment:
      POSTGRES_DB: account_db
      POSTGRES_USER: account_user
      POSTGRES_PASSWORD: account_pass
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "2222:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data_account
      - ./scripts/init_account_db.sql:/docker-entrypoint-initdb.d/init_account_db.sql
    networks:
      - concurrency-simulator-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U account_user -d account_db"]
      interval: 30s
      timeout: 10s
      retries: 3

  zookeeper:
    image: zookeeper:3.4.9
    hostname: zookeeper
    platform: linux/amd64
    ports:
      - "2181:2181"
    environment:
      ZOO_MY_ID: 1
      ZOO_PORT: 2181
      ZOO_SERVERS: server.1=zookeeper:2888:3888
    volumes:
      - ./data/zookeeper/data:/data
      - ./data/zookeeper/datalog:/datalog
    networks:
      - concurrency-simulator-network
  
  kafka1:
    image: confluentinc/cp-kafka:5.3.0
    hostname: kafka1
    platform: linux/amd64
    restart: always
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_LISTENERS: LISTENER_DOCKER_INTERNAL://kafka1:19092,LISTENER_DOCKER_EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: LISTENER_DOCKER_INTERNAL:PLAINTEXT,LISTENER_DOCKER_EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: LISTENER_DOCKER_INTERNAL
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_BROKER_ID: 1
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - ./data/kafka1/data:/var/lib/kafka/data
    depends_on:
      - zookeeper
    networks:
      - concurrency-simulator-network
  
  akhq:
    image: tchiotludo/akhq:latest
    platform: linux/amd64
    environment:
      AKHQ_CONFIGURATION: |
        akhq:
          connections:
            docker-kafka:
              properties:
                bootstrap.servers: "kafka1:19092"
    ports:
      - "8080:8080"
    networks:
      - concurrency-simulator-network
    depends_on:
      - kafka1

volumes:
  postgres_data:

networks:
  concurrency-simulator-network:
  loadtest-network:
    driver: bridge